/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* reset */
HTML{
    font-size: 10px !important;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* fichier index.html.erb */
/* Partie header */
 .header{
    background-color: #0E0E0E;
    padding: 0px 100px;
    color: white;
    height: fit-content;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.2);
 }
 .header h1{
    font-size: 9.6rem;
    padding-top: 90px;
    margin-bottom: 26px;
 }
 .description{
    font-size: 3.6rem;
    width: 700px;
    padding-bottom: 200px;
 }
 .header a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
 }
 .decouvrir{
    font-size: 3.6rem;
    padding-bottom: 14px;
    color: white;
    display: flex;
    justify-content: center;
 }
 .header img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: white;
    border: none;
    margin-bottom: 26px;
 }


 /* Partie musique */
 .musics{
    height: fit-content;
    background-color: #000000;
    padding: 0px 128px;
    height: fit-content;
    padding-top: 50px;
 }
 .ligne_musics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
 }
 .music{
    border: solid 0.5px white;
    width: 327px;
    height: 484px;
    color: white;
    transition: transform 0.3s ease;
 }
 .music:hover{
    transform: scale(1.1);
 }
 .music p{
    font-size: 2.4rem;
    margin-bottom: 20px;
 }
 .music_img{
    display: flex;
    justify-content: center;
 }
 .music_img img{
    width: 261px;
    height: 261px;
    margin-top: 26px;
    margin-bottom: 10px;
 }
.music_description{
    margin-left: 32px;
}
.music_lien{
    color: black;
    background-color: white;
    padding: 9px 13px;
    font-size: 2rem;
}
.music_lien:hover{
    color: #000000;
}
.music_new{
    font-size: 2.4rem;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 9px 13px;
    width: fit-content;
    display: flex;
    justify-content: center;
}
.music_new:hover{
    color: rgb(51, 51, 51);
}
.music_div_new{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}


/* fichier _form.html.erb */
.form_text_area{
    font-size: 1.8rem;
    border: solid 0.5px black;
    resize: none;
    margin-bottom: 20px;
}
.form_label{
    font-size: 2.4rem;
}
.form_submit{
    font-size: 1.8rem;
    border: none;
    padding: 9px 13px;
}


/* fichier new.html.erb */
.new{
    height: fit-content;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.new_center{
    color: white;
    margin-top: 50px;
    border: solid 0.5px white;
    padding: 30px;
    background-color: #2d2d2da4;
}
.link_back_show_music{
    color: white;
    font-size: 1.8rem;
    margin-top: 10px;
}
.link_back_show_music:hover{
    color: rgb(218, 218, 218);
}


/* fichier new.html.erb */
.edit{
    height: fit-content;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.edit_center{
    color: white;
    margin-top: 50px;
    border: solid 0.5px white;
    padding: 30px;
    background-color: #2d2d2da4;
}
.link{
    display: flex;
    flex-direction: column;
}