<h1>Spotart</h1>
<p>Vous voulez connaître l’histoire des musiques et des artistes ? Tant mieux, vous êtes au bon endroit ! </p>
<a href="#">
    <p>Découvrez leur histoire </p>
    <button><img src="#" alt=""></button>
</a>
